<div class="fr-container fr-mb-20v">
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-10v js-grid">
    {{ range ( where .Site.RegularPages "Type" "defis" ).ByDate }}
      <div class="fr-col-12 fr-col-sm-6 fr-col-md-4 fr-col-xl-3 {{ range $index, $expertises := .Params.expertises }}{{ if gt $index 0 }} {{ end }}is-cat-{{ . | urlize }}{{ end }}">
        {{ .Render "li" }}
      </div>
    {{ end }}
  </div>
  <a href="https://www.demarches-simplifiees.fr/commencer/aac-eig5-voeux" target="_blank" class="fr-btn fr-btn--lg fr-fi-arrow-right-line fr-btn--icon-right fr-btn--secondary">Je fais mes voeux</a>
</div>
