<div class="fr-container">
  <div class="fr-mb-10v fr-grid-row fr-grid-row--gutters fr-grid-row--right">
    <div class="fr-col-12 fr-col-sm-6 fr-col-lg-4 fr-col-xl-3">
      <label class="fr-label" for="select">Expertise</label>
      <select class="fr-select">
        <option value="1">Toutes</option>
        <option value="2">Data Engineering</option>
        <option value="3">Data science</option>
        <option value="4">Design</option>
        <option value="4">Développement</option>
        <option value="4">Géomatique</option>
        <option value="4">Juriste</option>
      </select>
    </div>
  </div>
</div>
