<div class="fr-container">
  <div class="fr-mb-10v fr-grid-row fr-grid-row--gutters fr-grid-row--right">
    <div class="fr-col-12 fr-col-sm-6 fr-col-lg-4 fr-col-xl-3">
      <label class="fr-label" for="select">Expertise</label>
      <select class="fr-select js-filter">
        <option value="*">Toutes</option>
        <option value="data-engineering">Data Engineering</option>
        <option value="data-science">Data science</option>
        <option value="design">Design</option>
        <option value="developpement">Développement</option>
        <option value="geomatique">Géomatique</option>
        <option value="juriste">Juriste</option>
      </select>
    </div>
  </div>
</div>
