<div class="fr-container fr-mt-8v fr-mb-10v">
  <h1>Bienvenue, candidates et candidats,</h1>
  <p class="fr-text--lead">
    Félicitations pour votre présélection au programme Entrepreneurs d’Intérêt Général. <br>Explorez dès maintenant les projets de la promotion 5, pour trouver celui qui est fait pour vous ! <br>Votre liste de vœux est à renseigner sur la plateforme Démarches Simplifiées avant le 31 mai 2021, 23h59 (3 choix maximum). <br>Rendez-vous pour le jury de sélection qui aura lieu des 7 au 15 juin 2021. 
  </p>
  <a href="https://www.demarches-simplifiees.fr/commencer/aac-eig5-v%C5%93ux" target="_blank" class="fr-btn fr-btn--lg fr-fi-arrow-right-line fr-btn--icon-right fr-btn--secondary">Je fais mes vœux</a>
</div>
