<header role="banner" class="fr-header">
  <div class="fr-header__body">
      <div class="fr-container">
          <div class="fr-header__body-row">
              <div class="fr-header__brand fr-enlarge-link">
                  <div class="fr-header__brand-top">
                      <div class="fr-header__logo">
                          <p class="fr-logo">
                              Ministère
                              <br>de la transformation
                              <br>et de la fonction
                              <br>publiques
                          </p>
                      </div>
                      <div class="fr-header__navbar">
                          <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu">
                              Menu
                          </button>
                      </div>
                  </div>
                  <div class="fr-header__service">
                      <a href="/" title="Accueil - Entrepreneurs d’intérêt général">
                          <p class="fr-header__service-title">Entrepreneurs d’intérêt général</p>
                      </a>
                      <p class="fr-header__service-tagline">Projets 2021-2022</p>
                  </div>
              </div>
              <div class="fr-header__tools">
                  <div class="fr-header__tools-links">
                      <ul class="fr-links-group">
                          <li>
                              <a class="fr-link fr-fi-external-link-line" href="https://entrepreneur-interet-general.etalab.gouv.fr/index.html" target="_blank">Accès au site complet</a>
                          </li>
                          <li>
                              <a class="fr-link fr-fi-external-link-line" href="https://entrepreneur-interet-general.etalab.gouv.fr/faq-eig.html" target="_blank">Accès à la FAQ</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="button-834">
      <div class="fr-container">
          <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
          <div class="fr-header__menu-links"></div>
      </div>
  </div>
</header>
