<header role="banner" class="fr-header">
  <div class="fr-header__body">
      <div class="fr-container">
          <div class="fr-header__body-row">
              <div class="fr-header__brand fr-enlarge-link">
                  <div class="fr-header__brand-top">
                      <div class="fr-header__logo">
                          <p class="fr-logo">
                              Ministère
                              <br>de la transformation
                              <br>et de la fonction
                              <br>publiques
                          </p>
                      </div>
                      <div class="fr-header__navbar">
                          <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833" aria-haspopup="menu" title="Menu">
                              Menu
                          </button>
                      </div>
                  </div>
                  <div class="fr-header__service">
                      <a href="/" title="Accueil - Entrepreneurs d’intérêt général">
                          <p class="fr-header__service-title">Entrepreneurs d’intérêt général</p>
                      </a>
                  </div>
              </div>
              <div class="fr-header__tools">
                  <div class="fr-header__tools-links">
                      <ul class="fr-links-group">
                          <li>
                              <a class="fr-link fr-fi-arrow-right-line" href="{{ relref . "participer" }}">Participer</a>
                          </li>
                          <li>
                              <a class="fr-link fr-fi-arrow-right-line" href="{{ relref . "blog" }}">Blog</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Navigation principale -->
  <div class="fr-header__menu fr-modal" id="modal-833" aria-labelledby="button-834">
      <div class="fr-container">
          <button class="fr-link--close fr-link" aria-controls="modal-833">Fermer</button>
          <div class="fr-header__menu-links"></div>
          <nav class="fr-nav" id="navigation-804" role="navigation" aria-label="Menu principal">
            <ul class="fr-nav__list">
                <li class="fr-nav__item">
                    <a class="fr-nav__link" href="{{ relref . "program" }}" target="_self">Programme</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" href="/impact" target="_self">Impact</a>
                </li>
                <li class="fr-nav__item">
                    <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-807">Participants</button>
                    <div class="fr-collapse fr-menu" id="menu-807">
                        <ul class="fr-menu__list">
                            <li>
                                <a class="fr-nav__link" href="{{ relref . "talents" }}" target="_self">Talents EIG</a>
                            </li>
                            <li>
                                <a class="fr-nav__link" href="#" target="_self">Agents publics</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" href="{{ relref . "team" }}" target="_self">Équipe</a>
                </li>
                <li class="fr-nav__item">
                    <a class="fr-nav__link" href="{{ relref . "participer" }}" target="_self">Participer</a>
                </li>
            </ul>
          </nav>
      </div>
  </div>
</header>
