{{ define "header" }}
<header role="banner" class="fr-header" id="header-navigation">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                Ministère
                                <br>de la transformation
                                <br>et de la fonction
                                <br>publiques
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833"
                                aria-haspopup="menu" title="Menu">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Entrepreneurs d’intérêt général">
                            <p class="fr-header__service-title">Entrepreneurs d’intérêt général</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{{end}}

{{ define "main" }}

<div class="fr-container fr-mt-8v fr-mb-10v">
    <h1>{{ .Params.title }}</h1>
    <p class="fr-text--lead">
        {{ replace .Params.desc "\n" "<br />" | safeHTML }}
    </p>
</div>

{{ partial "defis-promotion-6" . }}

{{ end }}