{{ define "main" }}

<div class="c-hero">
  <div class="c-hero__bg">
    <img src="{{ .Params.image }}" alt="">
  </div>
</div>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10">
      <h1 class="fr-mb-8v">{{ .Title }}</h1>
      {{ partial "markdownify-block" .Params.desc }}
      {{ with .Params.numbers }}
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        {{ range . }}
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="c-card-number">
            <div class="c-card-number__num">{{ .num }}</div>
            <h3 class="fr-h2">{{ .title }}</h3>
            {{ if ne .btnUrl "" }}
            <a href="{{ .btnUrl }}" class="fr-btn fr-btn--sm fr-btn--secondary">{{ .btnTitle }}</a>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
      {{ partial "markdownify-block" .Params.how.desc }}
      <h2>{{ .Params.steps.title }}</h2>
      {{ range .Params.steps.list }}
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        <div class="fr-col-12 fr-col-sm-4">
          <img src="{{ .icon }}" alt="">
        </div>
        <div class="fr-col-12 fr-col-sm-8">
          <h3 class="fr-h4"><span class="fr-tag">{{ .step }} | {{ .duration }}</span> {{ .title }}</h3>
          <p class="fr-text--lead fr-mb-0"><span class="u-color-primary">{{ .dates }}.</span> {{ .desc }}</p>
        </div>
      </div>
      {{ end }}
      <h2 class="fr-mt-12v">Et après ?</h2>
      <p class="fr-text--lead">50% des talents du numérique restent dans l'administration. <br>90% des défis deviennent un projet qui perdure.</p>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle c-section__agent c-section__agent--only fr-mb-12v">
        <div class="fr-col-12 fr-col-md-3">
          <div class="c-rounded">
            <img src="img/picto-defi.svg" alt="">
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-9">
          <p class="fr-mt-3v fr-h4 u-color-primary">Même là où j’innovais, j’aimais à me sentir avant tout un continuateur.</p>
          <div class="c-section__agent-info">
            <p class="fr-text--lg fr-mb-0">Marguerite Yourcenar,</p>
            <p>Mémoires d’Hadrien</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
