{{ define "main" }}

<div class="c-hero">
  <div class="c-hero__bg">
    <img src="img/hero.jpg" alt="">
  </div>
</div>
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10">
      <h1 class="fr-mb-8v">{{ .Title }}</h1>
      <p class="fr-text--lead">Entrepreneurs d'intérêt général permet à des talents du numérique ou « EIG » d’intégrer des administrations, pour relever en 10 mois des défis qui améliorent le service public. <br>Les méthodes utilisées par les « EIG » ont des effets déterminants pour transformer et acculturer les administrations et répondre aux attentes des citoyens.</p>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="c-card-number">
            <div class="c-card-number__num">172</div>
            <h3 class="fr-h2">Entrepreneurs d’intérêt général</h3>
            <a href="#" class="fr-btn fr-btn--sm fr-btn--secondary">Découvrir les talents</a>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="c-card-number">
            <div class="c-card-number__num">86</div>
            <h3 class="fr-h2">Défis d’intérêt général</h3>
            <a href="#" class="fr-btn fr-btn--sm fr-btn--secondary">Parcourir les défis</a>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
          <div class="c-card-number">
            <div class="c-card-number__num">XX</div>
            <h3 class="fr-h2">administrations impactées</h3>
          </div>
        </div>
      </div>
      <h2>Comment ça marche</h2>
      <p class="fr-text--lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="fr-mb-10v">
        <img src="img/steps.png" alt="">
      </div>
      <h2>Les 3 phases du programme</h2>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        <div class="fr-col-12 fr-col-sm-4">
          <img src="img/phase1.png" alt="">
        </div>
        <div class="fr-col-12 fr-col-sm-8">
          <h3 class="fr-h4"><span class="fr-tag">Phase 1 | 5 mois</span> Concevoir</h3>
          <p class="fr-text--lead fr-mb-0"><span class="u-color-primary">Du JJ mois au JJ mois AAAA.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        <div class="fr-col-12 fr-col-sm-4">
          <img src="img/phase2.png" alt="">
        </div>
        <div class="fr-col-12 fr-col-sm-8">
          <h3 class="fr-h4"><span class="fr-tag">Phase 2 | 3 mois</span> Consolider</h3>
          <p class="fr-text--lead fr-mb-0"><span class="u-color-primary">Du JJ mois au JJ mois AAAA.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters fr-mb-8v">
        <div class="fr-col-12 fr-col-sm-4">
          <img src="img/phase3.png" alt="">
        </div>
        <div class="fr-col-12 fr-col-sm-8">
          <h3 class="fr-h4"><span class="fr-tag">Phase 3 | 2 mois</span> Amplifier</h3>
          <p class="fr-text--lead fr-mb-0"><span class="u-color-primary">Du JJ mois au JJ mois AAAA.</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <h2 class="fr-mt-12v">Et après ?</h2>
      <p class="fr-text--lead">50% des talents du numérique restent dans l'administration. <br>90% des défis deviennent un projet qui perdure.</p>
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle c-section__agent c-section__agent--only fr-mb-12v">
        <div class="fr-col-12 fr-col-md-3">
          <div class="c-rounded">
            <img src="img/picto-defi.svg" alt="">
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-9">
          <p class="fr-mt-3v fr-h4 u-color-primary">Même là où j’innovais, j’aimais à me sentir avant tout un continuateur.</p>
          <div class="c-section__agent-info">
            <p class="fr-text--lg fr-mb-0">Marguerite Yourcenar,</p>
            <p>Mémoires d’Hadrien</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
