/* @import './dsfr'; */
@import './dsfr-theme-tac';

@import './components/_embed';
@import './components/_hero';
@import './components/_style-title';
@import './components/_section';
@import './components/_join';
@import './components/_error';
@import './components/_talent';
@import './components/_filters';
@import './components/_metas';

ul, ol {
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.fr-card__img {
  background-color: #bff1f1;

  img {
    object-fit: contain;
  }
}

.fr-card__detail {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-project-head {
  position: relative;

  &__title {
    color: var(--bf500);
    padding-left: 60px;

    @media (min-width: 62em) {
      padding-left: 0;
    }
  }

  &__meta {
    margin-bottom: 0;

    img {
      width: 24px;
      height: auto;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__picto {
    position: absolute;
    left: 0;
    top: 20px;
    width: 50px;
    height: auto;

    @media (min-width: 62em) {
      position: static;
      width: 100%;
    }
  }
}

.c-wysiwyg {
  p {
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 2.5rem;
  }
}

.u-text-center {
  text-align: center;
}

.fr-pagination__list {
  justify-content: center;
}

.is-active .fr-tag {
  color: #fff;
  background-color: #000091;
}
