<div class="fr-card fr-enlarge-link">
  <div class="fr-card__body">
    <p class="fr-card__detail">{{ .Date.Format "02/01/2006" }} par {{ .Params.author }}</p>
    <h4 class="fr-card__title">
      <a href="{{ .Permalink }}" class="fr-card__link">{{ .Title }}</a>
    </h4>
    <p class="fr-card__desc">{{ .Description }}</p>
    {{ with .Params.categories }}
    <ul class="fr-tags-group">
      {{ range $category := . }}
      <li><p class="fr-tag fr-tag--sm">{{ $category }}</p></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div class="fr-card__img">
    <img src="{{ .Params.image }}" class="fr-responsive-img" alt="" />
  </div>
</div>
