name: Build Pages

env:
  SITE_URL: https://demo.static-cluster.infra.data.gouv.fr

on:
  push:
    branches:
      - master  # Set a branch to deploy
    pull-request:

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.94.2'
          extended: true
          
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '12.x'
          
      - name: Install dependencies
        run: npm install

      # - name: Prepare build
      #   run: |
      #     cd themes/design-system-gouvfr && npm install && cd ../../
      #     cp -r themes/design-system-gouvfr/node_modules/@gouvfr/dsfr/dist/ ./static/design-system-gouvfr

      - name: Build
        run: yarn build
        #run: hugo --minify -b $SITE_URL

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: pages
          publish_dir: ./dist
